# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -54
y_offset: -15
#z_offset: 1.6
probe_with_touch_mode: True
stow_on_each_sample: False

[safe_z_home]
home_xy_position: 177, 125 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 175, 215
probe_count: 6,6

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_min: -2
position_max: 250

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 5.7
# rotation_distance: 34.406
nozzle_diameter: 0.400
# nozzle_diameter: 0.600
# max_extrude_only_velocity: 15
# max_extrude_only_accel: 500
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
# min_extrude_temp: 0
# pressure_advance: 0.42

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 5
max_z_accel: 100

[virtual_sdcard]
path: /var/lib/moonraker/gcodes

[display_status]
# for display messages in status panel

[gcode_macro M600]
gcode:
    PAUSE
    UNLOAD

[gcode_macro LOAD]
gcode:
    G91
    G1 E100 F3000
    G1 E100 F2000
    G1 E100 F1000
    G1 E100 F250
    G90

[gcode_macro UNLOAD]
gcode:
    G91
    G1 E5.0 F1200
    G1 E3.0 F1600
    G1 E-10 F7000
    G1 E-100 F3000
    G1 E-100 F3000
    G1 E-100 F3000
    G90
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0

[gcode_macro PURGE]
gcode:
    G91
    G1 E50 F250
    G90

#slow purge for smaller nozzle
[gcode_macro PURGE_SLOW]
gcode:
    G91
    G1 E50 F100
    G90
      
[pause_resume]
# for pause/resume functionality. 
# Mainsail needs gcode macros for `PAUSE`, `RESUME` and `CANCEL_PRINT` to make the buttons work.

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(230) %}      #edit to your park position
    {% set y = params.Y|default(230) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
      G1 Z{z_safe}
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### set defaults #####
    {% set e = params.E|default(1) %} #edit to your retract length
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

[filament_switch_sensor my_sensor]
pause_on_runout: True
#runout_gcode:
#insert_gcode:
#event_delay: 3.0
#pause_delay: 0.5
switch_pin: PA4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.204
#*# pid_ki = 1.741
#*# pid_kd = 114.225
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.928
#*# pid_ki = 1.462
#*# pid_kd = 884.711
#*#
#*# [bltouch]
#*# z_offset = 1.300
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.440000, -0.365000, -0.332500, -0.222500, -0.122500, -0.065000
#*# 	  -0.277500, -0.227500, -0.207500, -0.120000, -0.050000, -0.017500
#*# 	  -0.215000, -0.157500, -0.135000, -0.042500, 0.022500, 0.060000
#*# 	  -0.147500, -0.092500, -0.065000, 0.035000, 0.110000, 0.135000
#*# 	  -0.075000, -0.022500, 0.012500, 0.115000, 0.190000, 0.240000
#*# 	  -0.030000, 0.052500, 0.100000, 0.212500, 0.277500, 0.352500
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 6
#*# max_y = 215.0
#*# mesh_x_pps = 2
#*# max_x = 175.0
